*{
 margin: 0px;
 padding: 0px;
 font-family: "Arial"
}

#name{
  display: inline-block;
  padding: 10px;
  font-family: "Comic Sans MS";
}


#masterText{
  text-align: right;
  position: relative;
  left: 350px;
  display: inline-block;
  padding: 10px;
}

.header{
  background-color: silver;
  width: 900px;
}

.wrapper{
  background-color: rgb(54, 35, 42);
  width: 900px;
  height: 950px;
}
.row1{
  height: 300px;
  padding: 10px;
}

.row1b{
  display: inline-block;
  vertical-align: top;
  background-color: white;
  height: 274px;
  width: 380px;
  position: relative;
  left: 15px;
  margin: 20px;
}

#aboutGrey{
  background-color: grey;
  padding: 5px;
  color: white;
}

#aboutText{
  padding: 7px;
  text-align: justify;
}

#JDimg{
  height: 265px;
  width: 380px;
  border: 5px solid lightgrey;
  margin: 20px;
  display: inline-block;
  vertical-align: top;
}

.row2{
  height: 580px;
  padding: 10px;
}

.row2a, .row2b, .row2c{
  display: inline-block;
  vertical-align: top;
  height: 520px;
  width: 28%;
  background-color: white;
  margin: 20px;
}

#row2img{
  height: 120px;
  width: 240px;
}

.row2Text{
  height : 170px;
}

#langImg{
  height: 30px;
  width: 30px;
  margin: 8px;
}

.logos{
  width: 250px;
}

#buttons{
  background-color: rgb(84, 140, 123);
  border: none;
  border-radius: 3px;
  height: 20px;
  color: white;
  position: relative;
  left: 90px;
  padding: 5px;
  text-align: center;
  border: 1px solid rgb(26, 62, 47);
  box-shadow: 3px 3px 2px rgb(164, 177, 152);
}
.footer{
  text-align: center;
  background-color: white;
  height: 100px;
}
#email{
  text-align: center;
  padding: 15px;
}

#logofooter{
  height: 20px;
  width: 20px;
}

#links{
  color: black
}
